body{
    margin: 0;
}
.top-menu{
    text-align: center;
    background-color: #190401;
}
nav a{
    text-decoration: none;
    
}
nav ul{
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center
    
}
nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
    color: #FFFFFF;
    
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 10px;
}
.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}
#oval{
    width: 60px;
	height: 20px;
    border: 2px solid transparent;
    border-radius: 70px;
    border-image: linear-gradient(to right, #130303 , #FF0016);
    -moz-border-image: -moz-linear-gradient(left, #130303 , #FF0016);
    -webkit-border-image: -webkit-linear-gradient(left, #130303 , #FF0016);
    border-image-slice: 1;
}
.background-section{
    position: relative;
    text-align: center;
    color: white;
}
.content-button-play{
    display:grid;
    place-items:center;
    cursor:pointer;
    width: 50px;
    height: 50px;
    background:#FF384A;
    border-radius:50%;
    transition:all 0.3s ease-in;
    padding: 7px;
    margin-left: 80px;
  }
  .content-button-play .fas{
    display:grid;
    place-items:center;
    font-size: 25px;
    width: 15px;
    height: 50px;
    color:#190401;
  }
  .content-button-play:active{
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.1),
      inset -10px -10px 10px rgba(255,255,255,0.6);
  }
  .content-button-play:active .fas{
    color:#721efa;
  }
.content{
    position: absolute;
    top: 40%;
    left: 1px;
}
.content-nav a{
    text-decoration: none;
    
}
.content-ul a{
    text-decoration: none;
}
.content-ul li{
	font: 14px 'Oswald', sans-serif;
    color: #FFFFFF;
    display: inline-block;
	padding: 5px 30px;
	margin: 5px;
    border-right: 1px solid rgb(255, 255, 255);
}

.content-ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: left;
}
.content-text{
    width: 550px;
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
    padding-left: 60px;
}
.rock-bands-menu{
    margin: 0;
    padding-top: 30px;
    background-color: #1B0301;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

}
.card{
    text-align: center;
}
.card h2{
    color: #fff;
    font-size: 12px;
}
.itcss__items {
    counter-reset: slide;
}

.itcss__item {
    counter-increment: slide;
}

.itcss__item>div::before {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}
.rockGroupMenu_links{
    display: flex;
    justify-content: space-between;
}
.rockGroupMenu_main_card{
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.rockGroupMenu_links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.rockGroupMenu_main{
    width: 1300px;
    margin-left: 100px;
}
.background_main{
    position: relative;
    color: white;
}
.main_content_pos{
    position: absolute;
    top: 40%;
    left: 1px;
}
.fogel{
    display: flex;
    justify-content: space-between;
}
.rockGroupMenu_links_line p{
    font-size: 20px;
    margin-left: 20px;
}
.footer_inf{
    background-color: #190401;
    height: 120px;
}
.footer_inf h4{
    font-size: 18px;
    color: #E4E4E4;
}
.footer_inf p{
    margin-left: 5px;
    font-size: 16px;
    color: #777676;
}
.footer_inf_position{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:25px;
}